<div class="row">
<div class="col-md-6 col-xs-12">
  <img id="logo-big" src=<%= image_url "huellitas_logo_big.jpg" %> class="img-responsive" alt="Huell-itas S.A. de C.V.">
</div>
<div class="center jumbotron img-responsive col-md-6 col-xs-12">
  <h1><%= t('.welcome') %></h1>
  <h2><%= t('.welcome_message').html_safe %></h2>
  <%= link_to t('.start'), "#", class: "btn btn-lg btn-primary" %>
</div>
</div>

