// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#logo-big {
  margin-top: 20px;
}

.jumbotron {
  background-color: white;
}
