<%= form_for(@supplier, html: {class: "form-horizontal"}) do |f| %>
  <% if @supplier.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(@supplier.errors.count, "error") %>.
      </div>
      <ul>
        <% @supplier.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% label_col, field_col = "col-md-3", "col-md-9" %>

  <div class="row">
  <div class="col-md-6">
  <div class="field form-group">
    <%= f.label :nick, class: "col-md-3 control-label text-right" %>
    <div class="col-md-9">
      <%= f.text_field :nick, class: "form-control" %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :address1, class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= f.text_field :address1, class: "form-control" %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :address2, class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= f.text_field :address2, class: "form-control" %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :city, class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= f.text_field :city, class: "form-control" %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :state, class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= f.text_field :state, class: "form-control" %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :zip, class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= f.text_field :zip, class: "form-control" %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :country, class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= f.text_field :country, class: "form-control" %>
    </div>
  </div>
  </div>
  <div class="col-md-6">
   <div class="field form-group">
    <%= f.label :name, class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :tax_id, class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= f.text_field :tax_id, class: "form-control" %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :contact, class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= f.text_field :contact, class: "form-control" %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :mobile, class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= f.text_field :mobile, class: "form-control" %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :phone, class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= f.text_field :phone, class: "form-control" %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :email, class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= f.text_field :email, class: "form-control" %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :webpage, class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= f.text_field :webpage, class: "form-control" %>
    </div>
  </div>
  </div>
  </div>
  <br>
  <div class="row">
  <div class="actions">
    <%= f.submit t('.save', model_name: Supplier.model_name.human()), class: "btn btn-lg btn-primary col-xs-offset-4 col-xs-4 col-md-offset-4 col-md-4" %>
  </div>
  </div>
<% end %>
