<h1><%= Supplier.model_name.human(count: 2) %><small>
  <%= link_to t('.new'), new_supplier_path %>
</small></h1>

<form>
  <div class="input-group col-md-offset-9 col-md-3 col-xs-12">
    <%= search_field_tag "keyword", params[:keyword], class: "form-control", placeholder: t('.search') %>
  </div><!-- /input-group -->
</form>
<br>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th><%= t('.name') %></th>
      <th><%= t('.contact') %></th>
      <th class="hidden-xs"><%= t('.address') %></th>
    </tr>
  </thead>

  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td>
          <p><b><%= link_to supplier.nick, supplier %></b></p>
          <p class="hidden-xs">
            <%= supplier.name %><br>
            <%= supplier.tax_id %>
          </p>
        </td>
        <td><p>
          <% unless supplier.contact.empty? %> <%= supplier.contact %> <br> <% end %>
          <% unless supplier.mobile.empty? %> <%= supplier.mobile %> <br> <% end %>
          <% unless supplier.phone.empty? %> <%= supplier.phone %> <br> <% end %>
          <% unless supplier.email.empty? %> <%= supplier.email %> <br> <% end %>
          <% unless supplier.webpage.empty? %> <%= supplier.webpage %> <br> <% end %>
        </p></td>
        <td class="hidden-xs"><p>
          <%= supplier.address1 %><br>
          <%= supplier.address2 %><br>
          <%= supplier.city %><br>
          <%= supplier.state %><br>
          <%= supplier.zip %>,
          <%= supplier.country %>
        </p></td>
      </tr>
    <% end %>
  </tbody>
</table>

