<p id="notice"><%= notice %></p>

<h1><%= @supplier.nick %></h1>

<div class="row">
<dl class="dl-horizontal">
  <div class="col-md-6 col-xs-12">
    <dt><h5><strong><%= Supplier.human_attribute_name("name") %>:</strong></h5></dt>
    <dd><h4><%= @supplier.name %></h4></dd>
    <dt><h5><strong><%= Supplier.human_attribute_name("tax_id") %>:</strong></h5></dt>
    <dd><h4><%= @supplier.tax_id %></h4></dd>
    <p><br></p>
    <dt><h5><strong><%= Supplier.human_attribute_name("contact") %>:</strong></h5></dt>
    <dd><h4><%= @supplier.contact %></h4></dd>
    <dt><h5><strong><%= Supplier.human_attribute_name("mobile") %>:</strong></h5></dt>
    <dd><h4><%= @supplier.mobile %></h4></dd>
    <dt><h5><strong><%= Supplier.human_attribute_name("phone") %>:</strong></h5></dt>
    <dd><h4><%= @supplier.phone %></h4></dd>
    <dt><h5><strong><%= Supplier.human_attribute_name("email") %>:</strong></h5></dt>
    <dd><h4><%= @supplier.email %></h4></dd>
    <dt><h5><strong><%= Supplier.human_attribute_name("webpage") %>:</strong></h5></dt>
    <dd><h4><%= @supplier.webpage %></h4></dd>
  </div>
  <div class="col-md-6 col-xs-12">
    <p><br></p>
    <dt><h5><strong><%= Supplier.human_attribute_name("address1") %>:</strong></h5></dt>
    <dd><h4><%= @supplier.address1 %></h4></dd>
    <dt><h5><strong><%= Supplier.human_attribute_name("address2") %>:</strong></h5></dt>
    <dd><h4><%= @supplier.address2 %></h4></dd>
    <dt><h5><strong><%= Supplier.human_attribute_name("city") %>:</strong></h5></dt>
    <dd><h4><%= @supplier.city %></h4></dd>
    <dt><h5><strong><%= Supplier.human_attribute_name("state") %>:</strong></h5></dt>
    <dd><h4><%= @supplier.state %></h4></dd>
    <dt><h5><strong><%= Supplier.human_attribute_name("zip") %>:</strong></h5></dt>
    <dd><h4><%= @supplier.zip %></h4></dd>
    <dt><h5><strong><%= Supplier.human_attribute_name("country") %>:</strong></h5></dt>
    <dd><h4><%= @supplier.country %></h4></dd>
  </div>
</dl>
</div>
<p><br></p>

<%= link_to t('.edit'), edit_supplier_path(@supplier) %> |
<%= link_to t('.destroy'), @supplier, method: :delete, data: { confirm: t('.confirm') } %>
