<footer class="footer">
  <small>
    Rails App powered by <a href="mailto:efiguerc@gmail.com">Edgar Figueroa</a>
  </small>
  <nav>
    <ul><li><%= link_to t('.contact'), '#' %></li></ul>
  </nav>
</footer>
